In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Read data
df = pd.read_csv('D:/Machine Learning/Supervised Learning/Regression/Linear Regression/NTM/vidu3_lin_reg.txt', sep=' ')

df.head()

   ID  TUOI  BMI   HA  GLUCOSE  CHOLESTEROL  BEDAYNTM
0   1    56   21  160     14.0         6.00      1.95
1   2    76   18  150     12.0         4.97      1.33
2   3    63   16  160      4.4         6.39      0.83
3   4    78   20  100      4.0         7.00      2.00
4   5    87   20  110      4.6         4.10      1.30

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           100 non-null    int64
 1   TUOI         100 non-null    int64
 2   BMI          100 non-null    int64
 3   HA           100 non-null    int64
 4   GLUCOSE      100 non-null    float64
 5   CHOLESTEROL  100 non-null    float64
 6   BEDAYNTM     100 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 5.6 KB

In [12]:
df.describe()

,ID,TUOI,BMI,HA,GLUCOSE,CHOLESTEROL,BEDAYNTM
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,62.690000,22.360000,141.000000,6.843000,5.199200,1.071000
std,29.011492,15.519746,3.394946,20.275875,4.274927,1.420606,0.403821
min,1.000000,21.000000,15.000000,90.000000,2.700000,2.000000,0.560000
25%,25.750000,54.000000,20.000000,130.000000,4.600000,4.187500,0.810000
50%,50.500000,63.500000,22.000000,140.000000,5.550000,5.195000,0.970000
75%,75.250000,74.000000,24.000000,160.000000,6.825000,6.415000,1.135000
max,100.000000,95.000000,34.000000,190.000000,26.000000,8.180000,2.700000

In [33]:
X = df[['TUOI', 'CHOLESTEROL', 'GLUCOSE','HA', 'BMI']]
y = df['BEDAYNTM']

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print('Mean Squared Error: ', mean_squared_error(y_test, y_pred))
print('R-squared: ', r2_score(y_test, y_pred))

Mean Squared Error:  0.1785147308896616
R-squared:  0.23209149234182402

In [39]:
print(f"Intercept (a0): {model.intercept_}")
print(f"Coefficients (a1, a2, a3, a4, a5): {model.coef_}")

Intercept (a0): -0.10802908119386889
Coefficients (a1, a2, a3, a4, a5): [ 0.00994694  0.03847025  0.0076701   0.00218137 -0.00020655]

In [42]:
model2 = LinearRegression()

model2.fit(X, y)

y_pred = model2.predict(X)
print('Mean Squared Error: ', mean_squared_error(y, y_pred))
print('R-squared: ', r2_score(y, y_pred))

Mean Squared Error:  0.12777736265356218
R-squared:  0.2085197523952269